:root {
  --primario: #042c2c;
  --primarioOscuro: #041f1f;
  
  --fuentePrincipal: "Lato", sans-serif;

  --blanco: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  color: white;
  background-color: white;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
}
/* Globales*/

* {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
  margin: 0;
}
h3 {
  font-size: 3rem;
  margin: 0;
}
h4 {
  font-size: 2rem;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
}

/* UserAdministrator principal DIV */

.userAdministrator {
  position: relative;
  min-height: 100vh;
  padding-top: 2rem;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
  margin-top: 0;
  color: black;
  justify-content: center;
}

.header__filter {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.header__filter select {
  padding: 0.1rem 0.5rem;
}

.header__searcher {
  display: none;
}

.header__searcher.active {
  display: block;
}

.header__searcher input {
  margin: 1rem 0;
  border: 2px solid gray;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.header__add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__add button {
  cursor: pointer;
  background-color: #014ba0;
  color: white;
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
}

@media (min-width: 500px) {
    .header {
      grid-template-areas: "filter button"
                           "searcher searcher";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
    }

    .header__filter {
      justify-self: flex-end;
    }

    .header__searcher {
      width: 50%;
      grid-area: searcher;
    }

    .header__add {
      justify-self: flex-start;
      grid-area: button;
    }
}

/* Main */

.main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Card user */

.cardUser {
  padding: 0 1rem;
  border: 4px solid #393d42;
  width: 100%;
  background-color: #393d42;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
}

.cardUser hr {
  margin: 0;
}

.cardUser .cardUser__name {
  margin: 1rem 0;
}

.cardUser .cardUser__body {
  margin: 1rem 0;
}

.cardUser .cardUser__body > * {
  margin: 1rem 0;
}

.cardUser .cardUser__body h3:last-of-type {
  margin-top: 2rem;
}

.cardUser .cardUser__body p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bx-mail-send {
  color: #efb810;
}

.bxs-cake {
  color: #fa8072;
}

.cardUser__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cardUser__actions i {
  font-size: 3rem;
  margin: 0.5rem;
  cursor: pointer;
}

.cardUser__actions i:first-of-type {
  color: #fe2323;
}

.cardUser__actions i:last-of-type {
  color: #1e91ed;
}

@media (min-width: 500px) {
    .cardUser {
      width: 400px;
    }
}

/* Modal */

.modal {
  position: absolute;
  background-color: rgb(0 0 0 / 0.92);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal.false {
  display: none;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem;
  margin-top: 4rem;
}

.modal form h2 {
  text-transform: uppercase;
  font-size: 3.3rem;
  width: 60%;
  text-align: center;
  border-bottom: 2px solid #1048a4;
}

.modal .bx {
  font-size: 2.4rem;
}

.modal form article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal form article input:last-of-type {
  margin-left: calc(24px + 1rem);
}

.modal form label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 558px) {
  .modal form article input:last-of-type {
    margin-left: 0;
  }

  .modal form h2 {
    font-size: 4rem;
  }
}

.modal form input {
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
}

.modal form input::placeholder {
  padding-left: 1rem;
}

.modal form .submitModal {
  background-color: #1048a4;
  color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.modal .bx-x {
  font-size: 5.2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal .bxs-user {
  color: #15ab92;
}

.modal .bxs-envelope {
  color: #e6b31b;
}

.modal .bxs-lock {
  color: #008eff;
}

/* Error Message */

.errorMessage {
  display: block;
  background-color: #fe2323;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}