:root {
  --primario: #042c2c;
  --primarioOscuro: #041f1f;
  
  --fuentePrincipal: "Lato", sans-serif;

  --blanco: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  color: white;
  opacity: 0.8;
  background-color: #e5e5f7;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#444cf7 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #444cf7 8px, #e5e5f7 8px) -4px 0;
background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
}
/* Globales*/

* {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
  margin: 0;
}
h3 {
  font-size: 3rem;
  margin: 0;
}
h4 {
  font-size: 2rem;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
}

/* UserAdministrator principal DIV */

.userAdministrator {
  position: relative;
  min-height: 100vh;
  padding-top: 2rem;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
  margin-top: 0;
  color: black;
  justify-content: center;
}

.header input {
  border: none;
}

.header__filter {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.header__filter label {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.header__filter select {
  border: 2px solid #444cf7;
  border-radius: 4px;
  padding: 0.5rem;
}

.header__searcher {
  display: none;
}

.header__searcher.active {
  display: block;
}

.header__searcher input {
  margin: 1rem 0;
  border: 2px solid #444cf7;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  font-size: 2.3rem;
}

.header__add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__add button {
  cursor: pointer;
  background-color: #01a375;
  color: white;
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.header__add button:hover {
  background-color: #008d65;
}

@media (min-width: 500px) {
    .header {
      grid-template-areas: "filter button"
                           "searcher searcher";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
    }

    .header__filter {
      justify-self: flex-end;
    }

    .header__searcher {
      width: 50%;
      grid-area: searcher;
    }

    .header__add {
      justify-self: flex-start;
      grid-area: button;
    }
}

/* Main */

.main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 970px;
  margin: 0 auto;
}


/* Card user */

.cardUser {
  padding: 0 1rem;
  border: 4px solid #014ba0;
  width: 100%;
  background-color: #014ba0;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
  overflow: hidden;
}

.cardUser hr {
  margin: 0;
}

.cardUser .cardUser__name {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  height: 4rem;
}

.cardUser .cardUser__body {
  margin: 1rem 0;
}

.cardUser .cardUser__body > * {
  margin: 1rem 0;
}

.cardUser .cardUser__body h3:last-of-type {
  margin-top: 2rem;
}

.cardUser .cardUser__body p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bx-mail-send {
  color: #efb810;
}

.bxs-cake {
  color: #fa8072;
}

.cardUser__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cardUser__actions i {
  font-size: 3rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

.cardUser__actions i:hover {
  transform: scale(1.1, 1.1);
} 

.cardUser__actions i:first-of-type {
  color: #e1143d;
}

.cardUser__actions i:last-of-type {
  color: #dfac00;
}

@media (min-width: 500px) {
    .cardUser {
      width: 310px;
    }
}

/* Modal */

.modal {
  position: absolute;
  background-color: rgb(0 0 0 / 0.92);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 800px;
}

.modal.false {
  display: none;
}

.modal form {
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem;
}

.modal form h2 {
  text-transform: uppercase;
  font-size: 3.3rem;
  width: 60%;
  text-align: center;
  border-bottom: 2px solid #1048a4;
}

.modal .bx {
  font-size: 2.4rem;
}

.modal form article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal form label {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal form label input {
  max-width: 30rem;
}

@media (min-width: 558px) {
  .modal form h2 {
    font-size: 4rem;
  }
}

.modal form input {
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
  margin: 1rem 0;
}

.modal form input::placeholder {
  padding-left: 1rem;
}

.modal form .submitModal {
  background-color: #1048a4;
  color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: transform linear 0.2s;
}

.modal form .submitModal:hover {
  transform: scale(1.05, 1.05);
  background-color: #0f4192;
}

.modal .bx-x {
  font-size: 5.2rem;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0px;
}

.modal .bxs-user {
  color: #15ab92;
}

.modal .bxs-envelope {
  color: #e6b31b;
}

.modal .bxs-lock {
  color: #008eff;
}

/* Error Message */

.errorMessage {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  background-color: #fe2323;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px;
}